.App {
  /* border: 3px red solid; */
  height: 1000px;
  background-color: lightcoral;
}

.home {
  height: 900px;
}

/* Header Begins */

.header {
  /* border: 3px greenyellow solid; */
  height: 100px;
  background-color: rgb(168, 168, 168);
  text-align: center;
}

.logo {
  position: absolute;
  border: 3px lightgray solid;
  background-color: orange;
  height: 90%;
  left: 20px;
  top: 0px;
  width: 80px;
  height: 80px;
  background-color: lightblue;
  border-radius: 15px;
  margin: 5px;
}

.image1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.search-bar {
  /* border: 3px black solid; */
  position: absolute;
  right: 14px;
  top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.text-box {
  flex: 1;
}

.font-loader {
  font-family: "Pattaya";
  font-size: 5rem;
  color: lightblue;
}

.text-box {
  border-radius: 10px;
}

/* Header Ends */

/* Home Screen Begins */

.home-screen {
  border: 3px lightblue solid;
  background-color: lightblue;
  height: 900px;
  text-align: center;
  position: relative;
}

.weather-station {
  position: relative;
  border: 3px grey solid;
  width: 20%;
  height: 60%;
  border-radius: 15px;
  background-color: grey;
  top: 10%;
  left: 40%;
  border: 3px lightgray solid;
}

.station {
  position: absolute;
  border: 3px grey solid;
  width: 90%;
  height: 88%;
  border-radius: 15px;
  background-color: white;
  top: 8%;
  left: 4%;
  border: 3px lightgray solid;
  overflow: hidden;
  background-position: center;
  object-fit: cover;
}

.cloud-img {
  height: 480px;
  width: 400px;
}

.wind-img {
  height: 480px;
  width: 400px;
}

.primary-weather {
  position: absolute;
  top: 40%;
  left: 4%;
  padding: 20px;
  margin: 20px;
  /* border: 3px grey solid; */
}

.three-day-forecast {
  /* border: 3px rgb(182, 37, 37) solid; */
  position: absolute;
  top: 75%;
  left: 0%;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.weather-icon {
  position: absolute;
  top: 5%;
  left: 19%;
}

.icon {
  width: 170px;
  height: 170px;
}

#sun {
  color: yellow;
}

#rain {
  color: grey;
}
#snow {
  color: white;
}
#cloud {
  color: white;
}
#wind {
  color: grey;
}

.temp {
  color: white;
  font-family: "Pattaya";
  font-size: 1.2em;
  text-align: center;
}

.wind {
  color: whitesmoke;
  font-family: "Pattaya";
  font-size: 1.2em;
  text-align: center;
}

.description {
  color: whitesmoke;
  font-family: "Pattaya";
  font-size: 1.2em;
  text-align: center;
}

.forecast {
  color: white;
  padding: 10px;
  font-family: "Pattaya";
  text-align: center;
  margin: -10px;
}

/* Side Bar start   */

.sideBar {
  width: 150px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 100px;
  display: flex;
  flex-direction: column;
}

.button {
  flex: 1;
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
  background-color: rgb(149, 229, 255);
  color: rgb(104, 104, 104);
  font-size: larger;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: yellow;
}

/* Side Bar end   */

/* GLOBAL WEATHER SCREEN STARTS */

.global-weather-screen {
  height: 900px;
  background-color: lightblue;
}

/* GLOBAL WEATHER SCREEN STARTS */

/* Weather station starts */
.font-loader-two {
  font-family: "Pattaya";
  font-size: 2rem;
  color: lightblue;
  padding: -10px;
}

/* GLOBAL-WEATHER BUTTON STARTS */

.global-weather {
  position: absolute;
  left: 41%;
  top: 73%;
  z-index: 11;
  height: 40px;
  border-radius: 10px;
  color: white;
  font-weight: lighter;
  background-color: lightcoral;
}

.font-loader-two {
  font-size: 1.5em;
  text-align: center;
}

/* GLOBAL-WEATHER BUTTON ENDS */

/* @media only screen and (min-width: 1400px) {
  .weather-station {
    width: 20%;
    text-align: center;
    position: relative;
    top: 7%;
    left: 30%;
  }
  .weather-icon {
    left: 46%;
  }
  .primary-weather {
    position: absolute;
    top: 35%;
    left: 50%;
  }
  .three-day-forecast {
    position: absolute;
    top: 55%;
    left: 1%;
  }
  .font-loader {
    font-size: 3em;
  }
} */

@media only screen and (max-width: 992px) {
  .weather-station {
    width: 40%;
    text-align: center;
    position: relative;
    top: 7%;
    left: 30%;
  }
  .weather-icon {
    left: 39%;
  }
  .primary-weather {
    position: absolute;
    top: 35%;
    left: 20%;
  }
  .three-day-forecast {
    position: absolute;
    top: 55%;
    left: 1%;
  }
  .font-loader {
    font-size: 3em;
  }

  .temp {
    text-align: center;
  }
  /* .search-bar {
    position: absolute;
    font-size: x-small;
    padding: 10px;
  } */
}

@media only screen and (max-width: 600px) {
  .weather-station {
    width: 90%;
    text-align: center;
    position: relative;
    top: 7%;
    padding: 10px;
    left: 2%;
  }
  .search-bar {
    position: relative;
    top: 3%;
    left: 0%;
    z-index: 10;
    padding: 5px;
  }
  .weather-icon {
    left: 27%;
  }

  .primary-weather {
    position: absolute;
    top: 40%;
    left: 0%;
    padding: 10px;
    margin: 10px;
  }

  .cloud-img {
    height: 500px;
    width: 400px;
  }

  .forecast {
    display: none;
  }
  .font-loader {
    font-size: 2.2em;
    position: absolute;
    right: -10px;
    top: 5px;
  }
  .global-weather {
    position: absolute;
    top: 75%;
    z-index: 11;
    left: 12%;
  }
  .logo {
    display: none;
  }
  .sideBar {
    display: none;
  }
}

/* Weather station ends */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
